<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>781595154680-l33bi2i4mkhmhg2sfiarqompju0em6au.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781595154680-l33bi2i4mkhmhg2sfiarqompju0em6au</string>
	<key>API_KEY</key>
	<string>AIzaSyB5op72nTuE-6eh1SF2FPLYnwvs2UfcUPo</string>
	<key>GCM_SENDER_ID</key>
	<string>781595154680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Diegocorp.True-Dare-or-shots</string>
	<key>PROJECT_ID</key>
	<string>truedareshot</string>
	<key>STORAGE_BUCKET</key>
	<string>truedareshot.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781595154680:ios:df31ddffedec04dc</string>
	<key>DATABASE_URL</key>
	<string>https://truedareshot.firebaseio.com</string>
</dict>
</plist>